.carousel-inner{
    position: relative;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
}
.carousel-inner img{
    width: 100%;
    min-height: 200px;
    object-fit:fill;
}
.carousel-control-prev-icon{
    position: absolute;
    left:20%;
    background-color: black;
    transform: translate(-50%);
}
.carousel-control-next-icon{
    position: absolute;
    right:20%;
    background-color: black;
    transform: translate(50%);
}

