@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

#root{
    min-width: 576px;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
    font-family: outfit,Arial;
 
}
.full-height-page {
  min-height: 100dvh; 
}

.carousel-card {
  flex: 0 0 calc(100% / 5); /* 5 cards per row */
  padding: 0 10px;
  box-sizing: border-box;
}
.carousel-track {
  transition: transform 0.9s ease; /* smooth slide animation */
}

.link{
    color: black;
    text-decoration: none;
}

.imgcastabout img, .imgcrewabout img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
   
}
.imgsize{
    margin-right: 14px;
    align-items: center

}
.imgsize img{
    width: 100%;
    height: 70%;

}
.headContainer{
    font-size: 15px;
   
}
 .nContainer{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.headContainer, .nContainer small{
     letter-spacing: 0px;
}
.createbut{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
li{
    list-style: none;
}
.youtube{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    justify-content: center;
    place-items: center;
    color: rgb(48, 48, 48);
}
.youtube:hover{
    background-color: white;
}

.premireContainer{
    background-color: rgb(46, 37, 59);
}

.clickMovieImg{
    background-image: url();
}

.carousel-inner{
    position: relative;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
}
.carousel-inner img{
    width: 100%;
    min-height: 200px;
    object-fit:fill;
}
.carousel-control-prev-icon{
    position: absolute;
    left:20%;
    background-color: black;
    transform: translate(-50%);
}
.carousel-control-next-icon{
    position: absolute;
    right:20%;
    background-color: black;
    transform: translate(50%);
}

/* Hide mobile scrollbar */
.mobile-scroll {
  overflow-x: auto;
  scrollbar-width: none;
}
.mobile-scroll::-webkit-scrollbar {
  display: none;
}

/* Main carousel container */
.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

/* Track to move horizontally */
.carousel-track {
  display: flex;
  transition: transform 0.9s ease; /* smooth slide animation */
}

/* Each card width */
.carousel-card {
  flex: 0 0 calc(100% / 5); /* 5 cards per row */
  padding: 0 10px;
  box-sizing: border-box;
}

/* Card style */
.carousel-card .card {
  border-radius: 10px;
  text-align: center;
  /* background-color: #fff; */
}

/* Arrows styling */
.carousel-arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
  width: 40px;
  height: 40px;
  padding: 2px;
  font-size:35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-arrow.left {
  left:-5px;
  background-color:rgb(70, 50, 50);
  box-shadow: 1px 2px 4px white;
  color: white;
  border: none;
}

.carousel-arrow.right {
  right: -5px;
    background-color:rgb(70, 50, 50);
  box-shadow: 1px 2px 4px white;
  color: white;
  border: none;
}







